.left {
	position: relative;
	float: left;
	width: 33%;
	height: 1000px;
	background-color: #336600;
	padding-left: 10px;
}
.right {
	position: relative;
	float: right;
	width: 20%;
	height: 1000px;
	background-color: #336600;
	margin-bottom: 10px;
	padding-left: 10px;
}

.left p  { color: #FFFFFF; }
.left   a:{color: #FFFFFF; font-size: 15px; }
.left	a:link { color: #FFFFFF; }
.left	a:visited { color: #FFFFFF; }
.left	a:hover { color: #FFFFFF; }
.left	a:active { color: #FFFFFF; }

.right  a {color: #FFFFFF; font-size: 25px; }
.right	a:link { color: #FFFFFF; }
.right	a:visited { color: #FFFFFF; }
.right	a:hover { color: #FFFFFF; }
.right	a:active { color: #FFFFFF; }
