.left {
	position: relative;
	float: left;
	width: 50%;
	height: 1000px;
}
.right {
	position: relative;
	float: right;
	width: 20%;
	height: 1000px;
	background-color: #336600;
	margin-bottom: 10px;
	padding-left: 5px;
	color: white;
	a:link { color: #000000; }
	a:visited { color: #000000; }
	a:hover { color: #000000; }
	a:active { color: #000000; }
}
